ServerName <%= scope.lookupvar('::fqdn') %>
<VirtualHost 127.0.0.1:80>
	ServerAdmin webmaster@localhost
	DocumentRoot /var/www/default/
	ServerName <%= scope.lookupvar('::fqdn') %>

	<Directory ~ ".*\.svn">
	    Order allow,deny
	    Deny from all
	</Directory>

	<Directory />
		Options -Indexes
		Options FollowSymLinks
		AllowOverride None
	</Directory>

        SetEnvIf Remote_Addr "^127\.0\.0\.1$" internal
        SetEnvIf Remote_Addr "^<%= scope.lookupvar('::ipaddress') %>$" internal

    <Location />
		Options -Indexes
		Order deny,allow
		Deny from all
		Allow from env=internal
	</Location>

	<Location /server-status>
	    SetHandler server-status
	    Order deny,allow
	    Deny from all
	    Allow from env=internal
	</Location>


	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/default_access.log combined
	ErrorLog /var/log/apache2/default_error.log

</VirtualHost>
