<%
if @mod_security == "On" or @mod_security == "DetectionOnly" then
	mod_sec_entry = "\t<IfModule security2_module>\n\t\tSecRuleEngine #{@mod_security}\n\t</IfModule>\n"
end
-%>
<VirtualHost 127.0.0.1:80>
    ServerName <%= @server_name %>
    <% if @serveraliases and ! @serveraliases.empty? -%>
        ServerAlias <%= @serveraliases.flatten.join(" ") %>
    <% end -%>

    DocumentRoot <%= @document_root %>
    #LOGGING
    ErrorLog /var/log/apache2/<%= @server_name %>_error.log
    CustomLog /var/log/apache2/<%= @server_name %>_access.log combined
    CustomLog "| /usr/sbin/rotatelogs /var/log/apache2-day/<%= @server_name %>_access.log-%Y-%m-%d 3600 +180" combined
    <%= mod_sec_entry %>
</VirtualHost>
